body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  text-align: center;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

.experimentNode span {
  cursor: pointer;
  color: #f00;
  margin: 10px;
}
