body, html {
    margin: 0;
    height: 100%;
}

body {
  background: #000;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.7;
  text-align: center;
  margin: 0;
}

#content {
  width: 100%;
  height: 100%;
}

.pageContainer {
  width: 100%;
  height: 100%;
}

.page {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: 30px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}
